<form action="{{ settings.mailchimp-action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
  <div class="mc-field-group">
    <input type="email" value="" placeholder="Sign up for our newsletter" name="EMAIL" id="mail" />
  </div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  
</form>

<script type="text/javascript">
$( document ).on( 'submit', '#mc-embedded-subscribe-form', function( event ){

    event.preventDefault();
    event.stopPropagation();

    var params = {
      type: 'POST',
      url: $( '#mc-embedded-subscribe-form' ).attr( 'action' ),
      data: $( '#mc-embedded-subscribe-form' ).serialize(),
      dataType: 'json',
      success: function( response ) { 
        console.log( 'success' );
      },
      error: function( XMLHttpRequest, textStatus ){
        console.log( 'error' );
      }
    };
    $.ajax( params );

    $( '#mc-embedded-subscribe-form' ).find( 'input[type="email"]' ).hide();
    $( '#mc-embedded-subscribe-form' ).find( '#mce-success-response' ).html( 'Thank you! Check your email to confirm your subscription.' ).show();
  
} );
</script>
