{% assign template_handle = '' %}

{% if template == 'product' %}
  {% assign template_handle = 'product' %}
{% endif %}

{% if template == 'collection' %}
  {% assign template_handle = 'collection' %}
{% endif %}

{% if template == 'cart' %}
  {% assign template_handle = 'cart' %}
{% endif %}

{% if template == 'search' %}
  {% assign template_handle = 'faq search' %}
{% endif %}

{% if template == 'page' %}
  {% assign template_handle = 'page' %}
{% endif %}

{% if page.url contains 'pages/faq' %} 
  {% assign template_handle = 'faq' %} 
{% endif %}

{% if template contains 'index' %}
  {% assign template_handle = 'home' %}
{% endif %}
