<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/collections/all.atom" title="Feed" rel="alternate" type="application/atom+xml" />
  <title>Natty</title>
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">

  <script type="text/javascript" src="{{ 'jquery-1.8.3.min.js' | asset_url }}"></script>
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  <!-- <script type="text/javascript" src="{{ 'jquery.form-n-validate.js' | asset_url }}"></script> -->

</head>

{% include 'set-template-handle' %}
<body class="{{ template_handle }}">
<div id="wrap">
  <!--===
  Header
  ====-->
  <header id="header">

    <div class="row">

      <div class="span c">
        <a class="bag empty" href="/cart">
          {% if cart.item_count > 0 %}
            Bag ({{ cart.item_count }}) - {{ cart.total_price | money }}
          {% else %}
            Bag - Empty
          {% endif %}
        </a>        
      </div>

      <!--=
      Left
      ==-->
      <div class="span a">
        <div class="row">

          <div class="span">
            <a class="logo" href="/">
              <img src="{{ 'logo.png' | asset_url }}">
            </a>
          </div>

          <div class="span">
            <nav>
              <ul>
                {% for link in linklists.main-menu.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>                  
                {% endfor %}             
              </ul>
            </nav> 
          </div><!-- .span -->
         
        </div><!-- .row -->

      </div><!-- .span.a -->

      <!--==
      Right
      ===-->
      <div class="span b">
        <a class="bag empty" href="/cart">
          {% if cart.item_count > 0 %}
            Bag ({{ cart.item_count }}) - {{ cart.total_price | money }}
          {% else %}
            Bag - Empty
          {% endif %}
        </a>
      </div><!-- .span.b -->

    </div><!-- .row -->

  </header>

  <section id="template">

  
    {{ content_for_layout }}
  

  </section><!-- #template -->

  <footer id="footer"> 

    <div class="row">

      <div class="span a">
        <ul>
          <li class="hide-for-small">
            Copyright &copy; 2014 Natty
          </li>
          <li class="hide-for-small">
            -
          </li>

          {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}

        </ul>
      </div><!-- .span.a -->

      <div class="span b">
        <!--=======
        Newsletter
        ========-->
        {% comment %}
        <form>
          <input type="text" placeholder="Sign up for our newsletter"/>
          <input type="submit">
        </form>
        {% endcomment %}
        {% include 'mailchimp-signup-form' %}

        
        <!--=========
        Social Icons
        ==========-->
        <section class="social-icons">
          <a target="_blank" class="facebook" href="{{ settings.facebook-url }}"></a>
          <a target="_blank" class="twitter" href="{{ settings.twitter-url }}"></a>
          <a target="_blank" class="pinterest" href="{{ settings.pinterest-url }}"></a>
          <a target="_blank" class="instagram" href="{{ settings.instagram-url }}"></a>
        </section><!-- .social-icons -->

      </div><!-- .span.b -->

      <div class="span show-for-small">
        Copyright &copy; 2014 Natty
      </div>

    </div><!-- .row -->

  </footer>

  <script type="text/javascript" src="{{ 'main.js' | asset_url }}"></script>
</body>

