<fieldset>
  <legend> General </legend>
    <table>
      <tr>
        <td><label for="logo"> Header Logo </label></td>
        <td>
          <input type="file" id="logo" name="logo.png" data-max-width="500" data-max-height="500" />
        </td>
      </tr>

      <tr>
        <td>
           <label for="facebook-url"> Facebook URL </label>
        </td>
        <td>
           <input type="text" id="facebook-url" name="facebook-url" class="text" value="" size="70" />
        </td>
      </tr>

      <tr>
        <td>
           <label for="twitter-url"> Twitter URL </label>
        </td>
        <td>
           <input type="text" id="twitter-url" name="twitter-url" class="text" value="" size="70" />
        </td>
      </tr>

      <tr>
        <td>
           <label for="pinterest-url"> Pinterest URL </label>
        </td>
        <td>
           <input type="text" id="pinterest-url" name="pinterest-url" class="text" value="" size="70" />
        </td>
      </tr>

      <tr>
        <td>
           <label for="instagram-url"> Instagram URL </label>
        </td>
        <td>
           <input type="text" id="instagram-url" name="instagram-url" class="text" value="" size="70" />
        </td>
      </tr>

      <tr>
        <td>
           <label for="mailchimp-action"> Mailchimp Action </label>
        </td>
        <td>
           <input type="text" id="mailchimp-action" name="mailchimp-action" class="text" value="" size="70" />
        </td>
      </tr>

    </table>
</fieldset><!-- General -->

<fieldset>
  <legend> Homepage </legend>
  <h3> Homepage Carousel </h3>
    <table>
      
      <tr>
        <td><label for="homepage-slide-1"> Slide 1 Image </label></td>
        <td>
          <input type="file" id="homepage-slide-1" name="homepage-slide-1.jpg" data-max-width="3000" data-max-height="3000" /> <br />
          <small>(Recommended width: 1200px, height: 639px)</small>
          <br />
        </td>
      </tr>
      <tr>
        <td>
           <label for="homepage-link-1"> Slide 1 Link </label>
        </td>
        <td>
           <input type="text" id="homepage-link-1" name="homepage-link-1" class="text" value="" size="70" />
        </td>
      </tr>

      
      <tr>
        <td><label for="homepage-slide-2"> Slide 2 Image </label></td>
        <td>
          <input type="file" id="homepage-slide-2" name="homepage-slide-2.jpg" data-max-width="3000" data-max-height="3000" /> <br />
          <small>(Recommended width: 2200px, height: 639px)</small>
          <br />
        </td>
      </tr>
      <tr>
        <td>
           <label for="homepage-link-2"> Slide 2 Link </label>
        </td>
        <td>
           <input type="text" id="homepage-link-2" name="homepage-link-2" class="text" value="" size="70" />
        </td>
      </tr>


      <tr>
        <td><label for="homepage-slide-3"> Slide 3 Image </label></td>
        <td>
          <input type="file" id="homepage-slide-3" name="homepage-slide-3.jpg" data-max-width="3000" data-max-height="3000" /> <br />
          <small>(Recommended width: 3200px, height: 639px)</small>
          <br />
        </td>
      </tr>
      <tr>
        <td>
           <label for="homepage-link-3"> Slide 3 Link </label>
        </td>
        <td>
           <input type="text" id="homepage-link-3" name="homepage-link-3" class="text" value="" size="70" />
        </td>
      </tr>      

    </table><!-- Carousel -->
</fieldset><!-- Natty Theme Settings -->