// #container {
//   width: auto;
//   margin: none;
// }






// Regular
@font-face {
  font-family: "Gill Sans";
  src: url('./GillSans.otf');
  src: local('./GillSans.otf');
  src: url('./GillSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
// Lighter
@font-face {
  font-family: "Gill Sans";
  src: url('./GillSans-Light.otf');
  src: local('./GillSans-Light.otf');
  src: url('./GillSans-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: "Gill Sans";
  color: #1d1d1b;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  background: #FFF url( './checkout-header.png' ) repeat-x;
}
#container {
  margin-top: 0;
}

#header {
  background: none;
  padding: 3px 5px 13px 5px;
}

#main {
  background: #FFF;
  margin-top: 20px;
}

#logo {
  background: url( './logo.png' ) transparent;
  width: 98px;
  height: 47px;
  margin: 0 auto;
}
#tagline {
  display: none;
}
#overview {
  background: none;
  border-bottom: 1px solid #CCC;
}

#products { 
  border-right: 1px solid #CCC;
}

#thumbs div {
  border: 1px solid #CCC;
  margin-right: 10px;
}
#thumbs h3 {
  font-size: 17px;
  margin-bottom: 5px;
}
#thumbs .plist-line-price {
  margin-top: 5px;
  font-size: 14px;
  display: inline-block;
  font-weight: lighter;
}

h3 {
  color: #333;
}
#thumbs span {
  color: #888;
}

#footer {
  background: transparent;
}

#buttons {
  background: transparent;
  padding-bottom: 40px;  
}

#email {
  background: transparent;
  border: none; 
} 

#addresses {
  background: #FFF;
  border: none;
}
#cost, #order-num {
  color: #000;
}

.address-notification {
  background: #FFF;
  border: 1px solid #CCC;
}
label {
  text-transform: none;
  font-weight: lighter;
}
#email label {
  text-transform: uppercase;
  font-weight: normal;
}

.group h3, .pgroup h3 {
  border-bottom: none;
}
#products h2 {
  display: none;
}

.group#addresses {
  margin-bottom: 0;
}

#addresses input, #email input {
  width: 90%;
  border: 1px solid #CCC;
  margin-bottom: 15px;
  padding: 9px;
  display: inline-block;
  font-family: "Gill Sans";
  font-weight: lighter;
  font-size: 15px;
}
#email input {
  width: 50%;
}
#addresses select {
  /*
  width: 106px;
  text-indent: 12px;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  height: 26px;
  padding: 0;
  text-align: left;
  -webkit-transition: all 0.0s ease; 
  -moz-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  transition: all 0.0s ease;
  cursor: pointer;
  -webkit-appearance:none;
  border-radius: 0;
  color: #000;
  background-color: #ececec;
  */
  margin-bottom: 20px;  
  font-size: 16px;
}
.form td {
  padding: 0;
  padding-top: 5px;
}

#buttons #commit-button {
  background: #1c1c1b;  
  font-family: "Gill Sans";
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  height: 26px;
  padding: 0 12px;
  text-align: left;
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  transition: all 0.0s ease;
  color: #FFF;
  font-weight: normal;

  &:hover {
    text-decoration: none;
    background-color: #777;      
  }  
}

table td {
  vertical-align: baseline;
}

