// Use http://www.fontsquirrel.com/tools/webfont-generator
// Regular
@font-face {
  font-family: "Gill Sans";
  src: url('./GillSans.otf');
  src: local('./GillSans.otf');
  src: url('./GillSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
// Lighter
@font-face {
  font-family: "Gill Sans";
  src: url('./GillSans-Light.otf');
  src: local('./GillSans-Light.otf');
  src: url('./GillSans-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}
