@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}
.clearfix {
  @include clearfix;
}

$small-screen: 500px; // iPhone is 320
$medium-screen: 768px;
$large-screen: 950px;

$screen: "only screen"; 
$small: "only screen and (max-width: #{$small-screen})";
$medium: "only screen and (min-width: " + unquote( $small-screen + 1 ) + ") and (max-width: #{$medium-screen})";
$large: "only screen and (min-width: " + unquote( $medium-screen + 1 ) + ") and (max-width: #{$large-screen})";
$full: "only screen and (min-width: " + unquote( $large-screen+1 ) + ")";

$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

@mixin respond_to( $media ){
  @if $media == small {
   @media only screen and (max-width: $small-screen) { @content }
  }
  @else if $media == medium {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $medium-screen) { @content }
  }
  @else if $media == large {
    @media only screen and (min-width: $medium-screen + 1) and (max-width: $large-screen) { @content }
  }
  @else if $media == full {
    @media only screen and (min-width: $large-screen + 1) { @content }
  }
  @else if $media == not_full {
    @media only screen and (max-width: $large-screen) { @content }
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.row {
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  @include clearfix;
  
  @include respond_to( not_full ) {
    width: 100%;
    padding: 0 2%;
  }
  
  @include respond_to( small ) {
    padding: 0 3%;
  }

  .span {
    float: left;
    display: block;
    min-height: 1px;
  }

  .row {
    margin: 0;
    padding: 0;
  }
}

#template .row {
  max-width: 780px;

  @include respond_to( not_full ) {
    padding: 0 10%;
  }
}

#wrap img {
  max-width: 100%;
}

// So we've got two main grid layouts. One has 3 evenly-spaced columns, the other is a 2-column, right-leaning layout

//---------------
// 3 Column Layout
//---------------
.row.of-three {

  .span {
    width: 25%;
    margin: 40px 4.166666666666667%;
    margin-bottom: 30px;

    > a {
      display: inline-block;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  @include respond_to( full ) {

  }

  @include respond_to( large ){

  }

  @include respond_to( medium ){

  }  
  @include respond_to( small ){

  }
}// .row.of-three



//-------------------------------
// foundation_visibility.scss excerpts
//-------------------------------
/* Small Displays */
@media #{$small} {
  .show-for-medium,
  .show-for-medium-up { display: none; }

  .hide-for-medium,
  .hide-for-medium-up { display: inherit; }

  .show-for-small { display: inherit; }

  .hide-for-small { display: none; }
}

/* Medium Displays */
@media #{$medium} {
  .show-for-small { display: none !important; }

  .show-for-large,
  .show-for-large-up { display: none; }

  .show-for-medium,
  .show-for-medium-down { display: inherit; }

  .hide-for-medium,
  .hide-for-medium-down { 
    display: none;
  }

  .hide-for-large,
  .hide-for-large-up { display: inherit; }
}

/* Large Displays */
@media #{$large} {  
  .show-for-small {
    display: none !important;
  }

  .show-for-large,
  .show-for-large-down { display: inherit; }

  .hide-for-large,
  .hide-for-large-down { display: none; }

  .show-for-medium {
    display: none;
  }
}

@media #{$full} {  
  .show-for-small {
    display: none !important;
  }

  .show-for-large,
  .show-for-large-down { display: none; }

  .hide-for-large,
  .hide-for-large-down { display: none; }

  .show-for-medium {
    display: none;
  }
}

/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait { display: inherit; }
.hide-for-landscape,
.show-for-portrait { display: none; }

@media #{$landscape} {
  .show-for-landscape,
  .hide-for-portrait { display: inherit; }
  .hide-for-landscape,
  .show-for-portrait { display: none; }
}

@media #{$portrait} {
  .show-for-portrait,
  .hide-for-landscape { display: inherit; }
  .hide-for-portrait,
  .show-for-landscape { display: none; }
}

/* Touch-enabled device targeting */
.show-for-touch { display: none; }
.hide-for-touch { display: inherit; }
.touch .show-for-touch { display: inherit; }
.touch .hide-for-touch { display: none; }

