.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  @media only screen and (max-width: 950px) {
    .row {
      width: 100%;
      padding: 0 2%; } }
  @media only screen and (max-width: 500px) {
    .row {
      padding: 0 3%; } }
  .row .span {
    float: left;
    display: block;
    min-height: 1px; }
  .row .row {
    margin: 0;
    padding: 0; }

#template .row {
  max-width: 780px; }
  @media only screen and (max-width: 950px) {
    #template .row {
      padding: 0 10%; } }

#wrap img {
  max-width: 100%; }

.row.of-three .span {
  width: 25%;
  margin: 40px 4.166666666666667%;
  margin-bottom: 30px; }
  .row.of-three .span > a {
    display: inline-block;
    width: 100%; }
    .row.of-three .span > a img {
      width: 100%; }

/* Small Displays */
@media only screen and (max-width: 500px) {
  .show-for-medium,
  .show-for-medium-up {
    display: none; }

  .hide-for-medium,
  .hide-for-medium-up {
    display: inherit; }

  .show-for-small {
    display: inherit; }

  .hide-for-small {
    display: none; } }
/* Medium Displays */
@media only screen and (min-width: 501px) and (max-width: 768px) {
  .show-for-small {
    display: none !important; }

  .show-for-large,
  .show-for-large-up {
    display: none; }

  .show-for-medium,
  .show-for-medium-down {
    display: inherit; }

  .hide-for-medium,
  .hide-for-medium-down {
    display: none; }

  .hide-for-large,
  .hide-for-large-up {
    display: inherit; } }
/* Large Displays */
@media only screen and (min-width: 769px) and (max-width: 950px) {
  .show-for-small {
    display: none !important; }

  .show-for-large,
  .show-for-large-down {
    display: inherit; }

  .hide-for-large,
  .hide-for-large-down {
    display: none; }

  .show-for-medium {
    display: none; } }
@media only screen and (min-width: 951px) {
  .show-for-small {
    display: none !important; }

  .show-for-large,
  .show-for-large-down {
    display: none; }

  .hide-for-large,
  .hide-for-large-down {
    display: none; }

  .show-for-medium {
    display: none; } }
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit; }

.hide-for-landscape,
.show-for-portrait {
  display: none; }

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit; }

  .hide-for-landscape,
  .show-for-portrait {
    display: none; } }
@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit; }

  .hide-for-portrait,
  .show-for-landscape {
    display: none; } }
/* Touch-enabled device targeting */
.show-for-touch {
  display: none; }

.hide-for-touch {
  display: inherit; }

.touch .show-for-touch {
  display: inherit; }

.touch .hide-for-touch {
  display: none; }

/* 
  RESET - ADAPTED FROM MEYER RESET
  URL - http://meyerweb.com/eric/tools/css/reset/
  LICENSE - PUBLIC DOMAIN
*/
/* RESET
----------------------------------------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSans.otf");
  src: local("./GillSans.otf");
  src: url("./GillSans.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gill Sans";
  src: url("./GillSans-Light.otf");
  src: local("./GillSans-Light.otf");
  src: url("./GillSans-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal; }

.button {
  background: #1c1c1b;
  width: 106px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-indent: 12px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  height: 26px;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  text-align: left;
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  transition: all 0.0s ease;
  cursor: pointer; }
  .button:hover {
    text-decoration: none;
    background-color: #777; }

.button.grey {
  color: #000;
  background-color: #ececec; }
  .button.grey:hover {
    background: #999; }

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bx-controls {
  display: none; }

.zoomContainer {
  z-index: 1000; }

body {
  background: #f4f0e9; }

body > * {
  color: #1d1d1b;
  font-family: "Gill Sans";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased; }

p {
  font-size: 14px;
  line-height: 2; }

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:visited, a:link {
    color: inherit; }
  a:hover {
    opacity: 0.7; }

li {
  display: inline-block; }
  li:first-child {
    margin-left: 0; }

p a {
  color: #00A2C7;
  text-decoration: none; }

strong {
  font-weight: normal; }

hr {
  border: none; }

header {
  height: 86px;
  border-bottom: 1px solid #dedede;
  background: #f4f0e9; }
  header .span.a {
    width: 70%;
    *zoom: 1; }
    header .span.a:before, header .span.a:after {
      content: " ";
      display: table; }
    header .span.a:after {
      clear: both; }
  header .span.b {
    width: 30%;
    text-align: right; }
  header .span.c {
    display: none; }
  header a.logo {
    display: inline-block;
    margin-top: 20px; }
    header a.logo:hover {
      opacity: 1; }
  header nav {
    margin-left: 46px;
    margin-top: 35px; }
  header nav ul li {
    margin-left: 53px; }
  header .bag {
    margin-top: 35px;
    display: inline-block; }
  @media only screen and (max-width: 500px) {
    header {
      height: auto;
      padding-bottom: 20px; }
      header a.logo {
        margin-top: 18px;
        margin-bottom: 5px; }
      header .row .span {
        width: 100%;
        text-align: center; }
      header .row .span.c {
        display: block;
        text-align: right; }
        header .row .span.c .bag {
          margin-top: 10px; }
      header nav, header ul {
        margin-top: 8px;
        margin-left: 0;
        text-align: center; }
      header nav ul li {
        margin-left: 8%; } }
  @media only screen and (min-width: 501px) and (max-width: 768px) {
    header {
      height: auto;
      min-height: 86px; }
      header .span.c {
        display: none; } }
  @media only screen and (min-width: 501px) and (max-width: 667px) {
    header > .row > .span.a {
      width: 100%; } }
  @media only screen and (max-width: 680px) {
    header .span.b {
      display: none; } }

footer {
  height: 86px;
  border-top: 1px solid #dedede;
  background: #f4f0e9; }
  footer .span.a {
    width: 60%; }
  footer .span.b {
    width: 40%; }
  footer ul {
    margin-top: 39px; }
  footer .span.a ul li, footer ul a {
    color: #666;
    font-size: 11px; }
  footer .span ul a:hover {
    opacity: 1;
    color: #1d1d1b; }
  footer ul li {
    margin-left: 20px; }
  footer .span.b {
    text-align: right; }
  footer form input[type="submit"] {
    display: none; }
  footer form input[type="email"] {
    border: 1px solid #e1e0de;
    width: 180px;
    padding: 5px 0;
    text-indent: 5px;
    margin-top: 33px; }
  footer form, footer section.social-icons {
    display: inline-block; }
  footer .social-icons a {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url("./social-icons.png");
    margin-left: 10px;
    opacity: 0.51; }
    footer .social-icons a:hover {
      opacity: 0.8; }
    footer .social-icons a.facebook {
      background-position: 3px 0; }
    footer .social-icons a.twitter {
      background-position: -27px 0; }
    footer .social-icons a.pinterest {
      background-position: -58px 0; }
    footer .social-icons a.instagram {
      background-position: -87px 0; }
  footer #mce-success-response {
    font-weight: lighter;
    text-transform: none;
    font-size: 12px;
    letter-spacing: 0;
    width: 180px;
    margin-top: 33px; }
  @media only screen and (min-width: 769px) and (max-width: 950px) {
    footer ul li {
      margin-left: 10px; }
    footer ul li, footer ul li a {
      font-size: 10px; }
    footer input[type="email"], footer .social-icons {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 501px) and (max-width: 768px) {
    footer .row .span {
      width: 100%;
      text-align: center; }
    footer ul {
      text-align: center; }
    footer ul li {
      margin-left: 10px; } }
  @media only screen and (max-width: 500px) {
    footer {
      height: auto;
      padding-top: 10px;
      padding-bottom: 30px; }
      footer .span.a, footer .span.b {
        width: 100%; }
      footer ul {
        text-align: center;
        margin: 14px 0; }
      footer .span.b {
        text-align: center; }
      footer form input[type="email"], footer .social-icons, footer .copyright, footer .show-for-small {
        margin: 10px 0; }
      footer .show-for-small {
        color: #666;
        font-size: 11px;
        text-align: center;
        width: 100%; } }
  @media only screen and (max-width: 950px) {
    footer {
      height: auto; } }
  @media only screen and (min-width: 501px) and (max-width: 768px) {
    footer {
      padding-bottom: 30px; } }
  @media only screen and (max-width: 802px) and (min-width: 769px) {
    footer .span.a, footer .span.a ul {
      width: 100%;
      text-align: center; }
    footer .span.b {
      width: 100%;
      text-align: center; } }

#template {
  background: #FFF; }

body.home #template #carousel {
  overflow: hidden; }
body.home #template #carousel, body.home #template .bx-wrapper {
  height: 100%; }
body.home #template #carousel img {
  width: 100%; }

body.collection #template .row {
  max-width: 950px; }
body.collection #template .row.of-three .span {
  position: relative; }
  body.collection #template .row.of-three .span:hover {
    opacity: 1; }
  body.collection #template .row.of-three .span h3 {
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  body.collection #template .row.of-three .span img {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  body.collection #template .row.of-three .span a:hover {
    opacity: 1; }
    body.collection #template .row.of-three .span a:hover img {
      opacity: 0.3; }
    body.collection #template .row.of-three .span a:hover h3 {
      opacity: 1; }
@media only screen and (max-width: 500px) {
  body.collection #template .row.of-three .span {
    width: 100%;
    margin: 0;
    padding: 10% 15%; }
    body.collection #template .row.of-three .span > a {
      position: relative; }
    body.collection #template .row.of-three .span h3 {
      display: block !important;
      margin: 0 auto;
      margin-top: -0.5em; } }
body.collection #template .row.of-three .span img {
  -webkit-backface-visibility: hidden; }
body.collection #template .row.of-three .span h3 {
  -webkit-backface-visibility: hidden; }

body.product #template .row.a {
  max-width: 950px;
  padding-top: 22px;
  margin-bottom: 10px; }
  body.product #template .row.a .l, body.product #template .row.a .r {
    width: 50%; }
  body.product #template .row.a .l a {
    color: #AAA;
    font-size: 11px; }
    body.product #template .row.a .l a:hover {
      color: #333; }
  body.product #template .row.a .r {
    text-align: right; }
    body.product #template .row.a .r a {
      font-size: 15px;
      margin-left: 4px; }
      body.product #template .row.a .r a:hover {
        opacity: 0.4; }
body.product #template img {
  margin: 0 auto; }
body.product #template #carousel .bxslider li img {
  max-height: 500px; }
body.product #template #carousel .bx-controls {
  display: block; }
body.product #template #carousel .bx-pager {
  text-align: center;
  margin-bottom: 24px; }
body.product #template #carousel .bx-pager .bx-pager-item {
  display: inline-block;
  margin-left: 23px; }
  body.product #template #carousel .bx-pager .bx-pager-item:first-child {
    margin-left: 0; }
body.product #template #carousel .bx-pager .bx-pager-item a {
  display: inline-block;
  font-size: 0;
  background: #000;
  opacity: 0.32;
  width: 4px;
  height: 4px;
  border-radius: 8px; }
  body.product #template #carousel .bx-pager .bx-pager-item a.active {
    opacity: 1; }
body.product #template section.info .row > * {
  text-align: center; }
body.product #template section.info p {
  font-weight: lighter;
  text-transform: none;
  font-size: 13px;
  color: #585753;
  letter-spacing: 0;
  margin: 10px 0; }
body.product #template section.info input[type="submit"] {
  cursor: pointer; }
body.product #template section.info input, body.product #template select {
  background: #1c1c1b;
  width: 106px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-indent: 12px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  height: 26px;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  text-align: left;
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  transition: all 0.0s ease;
  cursor: pointer;
  width: auto;
  min-width: 106px;
  margin-bottom: 10px; }
  body.product #template section.info input:hover, body.product #template select:hover {
    text-decoration: none;
    background-color: #777; }
body.product #template section.info select {
  -webkit-appearance: none;
  border-radius: 0;
  color: #000;
  background-color: #ececec; }
body.product #template section.info {
  padding-bottom: 60px; }
body.product #template #product-variants, body.product #template #product-variants .selector-wrapper {
  display: inline-block; }
body.product #template #product-variants #price-field, body.product #template #product-variants label {
  display: none; }
body.product #template section.inputs #product-variants {
  display: inline-block; }
@media only screen and (max-width: 500px) {
  body.product #template .row.a {
    padding: 0 3%;
    padding-top: 22px;
    margin-bottom: 20px; } }

body.page #template {
  padding-bottom: 30px; }
  body.page #template h1 {
    margin: 72px 0;
    margin-bottom: 56px; }
  body.page #template section.content {
    margin-bottom: 56px;
    font-family: "Gill Sans";
    font-weight: lighter;
    color: #000;
    font-size: 13px;
    text-transform: none; }
    body.page #template section.content > * {
      font-family: "Gill Sans";
      font-weight: lighter;
      color: #000;
      font-size: 13px;
      text-transform: none;
      margin: 21px 0; }
  @media only screen and (max-width: 500px) {
    body.page #template h1 {
      margin: 42px 0;
      margin-bottom: 26px; } }

body.cart #template h1 {
  margin-top: 70px;
  padding-bottom: 18px;
  border-bottom: 1px solid #dedede; }
body.cart #template #cart .row .item {
  padding: 35px 0;
  border-bottom: 1px solid #dedede;
  *zoom: 1; }
  body.cart #template #cart .row .item:before, body.cart #template #cart .row .item:after {
    content: " ";
    display: table; }
  body.cart #template #cart .row .item:after {
    clear: both; }
  body.cart #template #cart .row .item .span {
    position: relative;
    display: table;
    height: 164px; }
    body.cart #template #cart .row .item .span > * {
      display: table-cell;
      vertical-align: middle; }
  body.cart #template #cart .row .item .span.a {
    width: 24.358974358974358%;
    margin-right: 2.564102564102564%; }
  body.cart #template #cart .row .item .span.b {
    width: 26.666666666666666%;
    margin-right: 2.564102564102564%; }
    body.cart #template #cart .row .item .span.b h2 {
      margin-bottom: 12px; }
    body.cart #template #cart .row .item .span.b h4 {
      text-transform: none; }
  body.cart #template #cart .row .item .span.c {
    width: 22.30769230769231%; }
    body.cart #template #cart .row .item .span.c input {
      width: 67px;
      height: 32px;
      border: 1px solid #dedede;
      text-indent: 10px;
      margin-bottom: 16px;
      margin-top: 20px; }
    body.cart #template #cart .row .item .span.c a {
      margin-top: 18px;
      text-transform: lowercase;
      letter-spacing: 1px;
      font-weight: lesser; }
      body.cart #template #cart .row .item .span.c a strong {
        display: inline-block;
        margin-right: 5px; }
  body.cart #template #cart .row .item .span.d {
    width: 21.53846153846154%;
    padding-right: 3.8461538461538464%; }
    body.cart #template #cart .row .item .span.d span {
      text-align: right; }
body.cart #template .total {
  text-align: right;
  margin: 50px 0; }
body.cart #template .buttons {
  text-align: right;
  margin-bottom: 100px; }
body.cart #template p.empty {
  padding: 40px 0;
  text-transform: none;
  text-align: center;
  font-weight: lighter;
  font-size: 13px; }
@media only screen and (max-width: 950px) {
  body.cart #template #cart .item .row {
    padding: 0 10%; } }
@media only screen and (min-width: 501px) and (max-width: 768px) {
  body.cart #template #cart .row .item .span.c > * {
    text-align: center; } }
@media only screen and (max-width: 500px) {
  body.cart #template #cart .row .item .span {
    position: relative;
    display: block;
    height: auto; }
  body.cart #template #cart .row .item .span.a {
    width: 40%;
    margin-right: 10%; }
  body.cart #template #cart .row .item .span.b {
    width: 50%;
    margin: 0; }
  body.cart #template #cart .row .item .span.c {
    width: 50%;
    margin: 0; }
  body.cart #template #cart .row .item .span.d {
    margin-top: 30px;
    width: 50%;
    padding-right: 0;
    padding-left: 50%; } }
@media only screen and (max-width: 500px) and (min-width: 400px) {
  body.cart #template #cart .row .item .span.d {
    padding-left: 0; } }
@media only screen and (max-width: 720px) and (min-width: 501px) {
  body.cart #template #cart .row .item .span.a img {
    margin-top: 20%; } }
