@import 'grid';
@import 'reset';
@import 'vars';
@import 'plugins';

//--------- 
// General 
//---------
html {

}
body {
  background: #f4f0e9;
  //background: #FFF;
}
body > * {
  @include heading_text;
}
p {
  @include par;
  line-height: 2;
} 
a {
  text-decoration: none;
  cursor: pointer;
  @include ease;

  &:visited, &:link {
    color: inherit;
  }

  &:hover {
    opacity: 0.7;
  }
}

li {
  display: inline-block;
  &:first-child {
    margin-left: 0;
  }
}

p a {
  color: #00A2C7;
  text-decoration: none;
}

h1 { 
  //@include h2;
}
h2 {
  @include h2;
}
h3 { 
  @include h3;
}

strong {
  font-weight: normal;
}
hr {
  border: none;
  //border-bottom: 1px solid #cccccc;
}

//--------
// Header 
//--------
header {
  height: 86px;
  border-bottom: $border;
  background: $c_biege;

  .span.a {
    width: 70%;
    @include clearfix;
  }
  .span.b {
    width: 30%;
    text-align: right;
  }
  .span.c {
    display: none;
  }

  a.logo {
    display: inline-block;
    margin-top: 20px;
    &:hover {
      opacity: 1;
    }
  }
  nav {
    margin-left: 46px;
    margin-top: 35px;
  }
  nav ul li {
    margin-left: 53px;
  }

  .bag {
    margin-top: 35px;
    display: inline-block;
  }

  @include respond_to( small ) {
    height: auto;
    padding-bottom: 20px;

    a.logo {
      margin-top: 18px;
      margin-bottom: 5px;
    }

    .row .span {
      width: 100%;
      text-align: center;
    }

    .row .span.c {
      display: block;
      text-align: right;
      .bag {
        margin-top: 10px;
      }
    }

    nav, ul {
      margin-top: 8px;
      margin-left: 0;
      text-align: center;
    }
    nav ul li {
      margin-left: 8%;
    }
  }

  @include respond_to( medium ) {
    height: auto;
    min-height: 86px;
    .span.c {
      display: none;
    }
  }

  @media only screen and ( min-width: 501px ) and ( max-width: 667px ) {
    > .row > .span.a {
      width: 100%;
    }
  }

  
  // Off-the grid tweaks
  @media only screen and ( max-width: 680px ) {
    .span.b {
      display: none;
    } 
  }
  

 
}// #header

//--------
// Footer
//--------
footer {
  height: 86px;
  border-top: $border;
  background: $c_biege;

  @mixin footer_text {
   color: #666;
   font-size: 11px;    
  }

  .span.a {
    width: 60%;
  }
  .span.b {
    width: 40%;
  }

  ul {
    margin-top: 39px;
  }
  .span.a ul li, ul a {
    @include footer_text;
  }
  .span ul a:hover {
    opacity: 1;
    color: #1d1d1b;
  }
  ul li {
    margin-left: 20px;
  }

  .span.b {
    text-align: right;
  }

  form input[type="submit"] {
    display: none;
  }
  form input[type="email"] {
    border: 1px solid #e1e0de;
    width: 180px; 
    padding: 5px 0;
    text-indent: 5px; 
    margin-top: 33px;
  }

  form, section.social-icons {
    display: inline-block;
  }
  .social-icons a {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url( './social-icons.png' );
    margin-left: 10px;
    opacity: 0.51;

    &:hover {
      opacity: 0.8;
    }

    &.facebook {
      background-position: 3px 0;
    }
    &.twitter {
      background-position: -27px 0;
    }
    &.pinterest {
      background-position: -58px 0;
    }
    &.instagram {
      background-position: -87px 0;
    }

  }// .social-icons a

  #mce-success-response {
    font-weight: lighter;
    text-transform: none;
    font-size: 12px;
    letter-spacing: 0;
    width: 180px;
    margin-top: 33px;    
  }


  @include respond_to( large ) {
    ul li {
      margin-left: 10px;
    }
    ul li, ul li a {
      font-size: 10px;
    }
    input[type="email"], .social-icons {
      margin-bottom: 20px;
    }
  }
  @include respond_to( medium ) {
    .row .span {
      width: 100%;
      text-align: center;
    }
    ul {
      text-align: center;
    }
    ul li {
      margin-left: 10px;
    }
  }

  @include respond_to( small ) {
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;

    .span.a, .span.b {
      width: 100%;
    }
    ul {
      text-align: center;
      margin: 14px 0;
    }
    .span.b {
      text-align: center;
    }

    form input[type="email"], .social-icons, .copyright, .show-for-small {
      margin: 10px 0;
    }

    .show-for-small {
      @include footer_text;
      text-align: center;
      width: 100%;
    }
  }

  @include respond_to( not_full ) {
    height: auto;
  }

  @include respond_to( medium ) {
    padding-bottom: 30px;
  }
  @include respond_to( large ) {
  }

  @media only screen and ( max-width: 802px ) and ( min-width: 769px ) {
    .span.a, .span.a ul {
      width: 100%;
      text-align: center;
    }
    .span.b {
      width: 100%;
      text-align: center; 
    }
  }

}// #footer


#template { 
  background: #FFF;
}



//-------------------
// Homepage Template
//-------------------
body.home #template{

  #carousel {
    overflow: hidden;
  }

  #carousel, .bx-wrapper {
    height: 100%;
  }

  #carousel img {
    width: 100%;
  }

  @include respond_to( small ) {
    //height: 216px;
  }

}// body.home

//---------------------
// Collection Template
//---------------------
body.collection #template{

  .row {
    max-width: 950px;
  }

  .row.of-three .span {
    position: relative;
    &:hover {
      opacity: 1;
    }

    h3 {
      text-align: center;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      width: 100%;
      opacity: 0;
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease;
    }
    img {
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease;      
    }

    a:hover {
      opacity: 1;

      img {
        opacity: 0.3;
      }
      h3 {
        opacity: 1;
      }
    }
  }// .row.of-three .span

  @include respond_to( small ) {

    .row.of-three .span {
      width: 100%;
      margin: 0;
      padding: 10% 15%;

      > a {
        position: relative;
      }

      h3 {
        display: block !important;
        margin: 0 auto;
        margin-top: -0.5em;
      }
    }

  }// respond_to( small )

  // fix the wiggle!
  .row.of-three .span img {
    -webkit-backface-visibility: hidden;
  }  
  .row.of-three .span h3 {
    -webkit-backface-visibility: hidden;
  } 

}// body.collection #template



//------------------
// Product Template
//------------------
body.product #template{

  .row.a {
    max-width: 950px;
    padding-top: 22px;
    margin-bottom: 10px;

    .l, .r {
      width: 50%;      
    }
    .l a{
      color: #AAA;
      font-size: 11px;
      &:hover {
        color: #333;
      }
    }
    .r {
      text-align: right;
      a {
        font-size: 15px;
        margin-left: 4px;
        &:hover {
          opacity: 0.4;
        }
      }
    }

  }//.row.a

  img {
    margin: 0 auto;
  }

  #carousel  {
    .bxslider li img {
      max-height: 500px;
    }
    .bx-controls {
      display: block;
    }
    .bx-pager {
      text-align: center;
      margin-bottom: 24px;
    }
    .bx-pager .bx-pager-item {
      display: inline-block;
      margin-left: 23px;
      &:first-child {
        margin-left: 0;
      }
    }
    .bx-pager .bx-pager-item a {
      display: inline-block;
      font-size: 0;
      background: #000;
      opacity: 0.32;
      width: 4px;
      height: 4px;
      border-radius: 8px;
      &.active {
        opacity: 1;
      }
    }
  }// #carousel

  section.info .row > * {
    text-align: center;
  }
  section.info p {
    font-weight: lighter;
    text-transform: none;
    font-size: 13px;
    color: #585753;
    letter-spacing: 0;
    margin: 10px 0;
  }
  section.info input[type="submit"] {
    cursor: pointer;

  }
  section.info input, select {
    @include button;
    width: auto;
    min-width: 106px;
    margin-bottom: 10px;
  }
  section.info select {
    -webkit-appearance:none;
    border-radius: 0;
    color: #000;
    background-color: #ececec;
  }
  section.info {
    //padding-bottom: 200px;
    padding-bottom: 60px;
  }


  #product-variants, #product-variants .selector-wrapper {
    display: inline-block
  }
  #product-variants #price-field, #product-variants label {
    display: none
  }


  section.inputs #product-variants {
    display: inline-block
  }


  @include respond_to( small ) {
    .row.a {
      padding: 0 3%;
      padding-top: 22px;
      margin-bottom: 20px;
    }
  }

}// body.product #template


//---------------
// Page Template
//---------------
body.page #template {
  padding-bottom: 30px;

  @mixin copy {
    font-family: $f_GillSans;
    font-weight: lighter;
    color: #000;
    font-size: 13px;
    text-transform: none;
  }

  h1 {
    //text-align: left;
    margin: 72px 0;
    margin-bottom: 56px;

  }
  section.content {
    margin-bottom: 56px;
    @include copy;

    > * {
      @include copy;
      margin: 21px 0;
    }

  }

  @include respond_to( small ) {

    h1 {
      margin: 42px 0;
      margin-bottom: 26px;      
    }

  }

}// body.page

//---------------
// Cart Template
//---------------
body.cart #template {

  h1 {
    margin-top: 70px;
    padding-bottom: 18px;
    border-bottom: $border;
  }

  #cart .row .item {
    padding: 35px 0;
    border-bottom: $border;
    @include clearfix;

    .span {
      position: relative;
      display: table;
      height: 164px;

      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .span.a {
      width: 24.358974358974358%;
      margin-right: 2.564102564102564%;
    }
    .span.b {
      width: 26.666666666666666%;
      margin-right: 2.564102564102564%;

      h2 {
        margin-bottom: 12px;
      }
      h4 {
        text-transform: none;
      }
    }
    .span.c {
      width: 22.30769230769231%;

      input {
        width: 67px;
        height: 32px;
        border: $border;
        text-indent: 10px;
        margin-bottom: 16px;
        margin-top: 20px;
      }
      a {
        margin-top: 18px;
        text-transform: lowercase;
        letter-spacing: 1px;
        font-weight: lesser;

        strong {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
    .span.d {
      width: 21.53846153846154%;
      padding-right: 3.8461538461538464%;
      span {
        text-align: right;
      }
    }
  }// #cart .item .row

  .total {
    text-align: right;
    margin: 50px 0;
  }
  .buttons {
    text-align: right;
    margin-bottom: 100px;
  }

  p.empty {
    padding: 40px 0;
    text-transform: none;
    text-align: center;
    font-weight: lighter;
    font-size: 13px;
  }

  @include respond_to( not_full ) {
    #cart .item .row {
      padding: 0 10%;
    }
  }

  @include respond_to( medium ) {
    #cart .row .item .span.c > * {
     text-align: center;
    }
  }

  @include respond_to( small ) {
    #cart .row .item .span {
      position: relative;
      display: block;
      height: auto;
    }

    #cart .row .item .span.a {
      width: 40%;
      margin-right: 10%;
    }
    #cart .row .item .span.b {
      width: 50%;
      margin: 0;
    }
    #cart .row .item .span.c {
      width: 50%;
      margin: 0;
    }
    #cart .row .item .span.d {
      margin-top: 30px;
      width: 50%;
      padding-right: 0;
      padding-left: 50%;
    }  
  }// respond_to( small )


  // off the grid fixes, i.e. specific problem areas where responsiveness is erratic
  @media only screen and (max-width: 500px) and (min-width:400px ) {
    #cart .row .item .span.d {
      padding-left: 0;
    }
  }
@media only screen and (max-width: 720px) and (min-width:501px ) {
    #cart .row .item .span.a img {
      margin-top: 20%;
    }
  }
}// body.cart