@import 'fonts';

//-------
// Paths
//-------
$img_path: "../assets/";

//-------
// Fonts
//-------
$f_GillSans: 'Gill Sans';


//--------
// Colors
//--------
$c_biege: #f4f0e9;

$border: 1px solid #dedede;

//-----------------------
// Webkits, FX Shortcuts
//-----------------------
@mixin ease {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@mixin smooth {
  -webkit-font-smoothing: subpixel-antialiased;
}
@mixin smoother {
  -webkit-font-smoothing: antialiased;
}

@mixin placeholder {
  input::-webkit-input-placeholder {
    @content;
  }
  input:-moz-placeholder {
    @content;
  }
  input:-ms-input-placeholder {
    @content;
  }
}
 
//--------------------
// Common Text Styles
//--------------------
@mixin heading_text {
  color: #1d1d1b;
  font-family: $f_GillSans;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  @include smoother;
}



@mixin par  {
  font-size: 14px;
}
@mixin h2 {
  //font-family: $f_TGothic;
  //font-size: 19px;
  //color:  $c_gray6;
  // text-transform: uppercase;
  // text-align: center;
  // padding: 25px 0;
  // width: 565px;
  // margin: 40px auto 12px;
  // line-height: 1.5;
  // max-width: 100%;
  // text-align: center;
}
@mixin h3 {
  
}



//-------------
// Buttons, UI
//-------------
@mixin button {
  background: #1c1c1b;
  width: 106px;
  @include ease;
  text-indent: 12px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  height: 26px;
  @include smoother;
  padding: 0;
  text-align: left;
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  transition: all 0.0s ease;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: #777;      
  }
}

.button {
  @include button;
}
.button.grey {
  color: #000;
  background-color: #ececec;
  &:hover {
    background: #999;
    //color: #FFF;
  }
}