<div class="row">
  <h1>Your Shopping Bag</h1>
</div><!-- .row -->

{% if cart.item_count > 0 %}

  <form action="/cart" method="post">

    <!--=======
    Cart Items
    ========-->
    <section id="cart">

      {% for item in cart.items %}
        <!--=
        Item
        ==-->
        <div class="row">
          <section class="item">
            <div class="span a">
              <img src="{{ item.featured_image | product_img_url: 'medium' }}">
            </div><!-- .span.a -->

            <div class="span b">
              <div>
                <a href="{{ item.product.url }}"><h2>{{ item.product.title }}</h2></a>
                <a href="{{ item.product.url }}"><h4>{% include 'line-item-options' %}</h4></a>
              </div>
            </div><!-- .span.b -->

            <div class="span c">
              <div>
                <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
                <br>
                <a href="/cart/change?line={{ forloop.index }}&quantity=0"><strong>x</strong>remove</a>
              </div>
            </div><!-- .span.c -->

            <div class="span d">
              <span>{{ item.line_price | money }}</span>
            </div><!-- .span.d -->
          </section><!-- .item -->
        </div><!-- .row -->      
      {% endfor %}

      <div class="row">
        <section class="total">
          <span>Total:</span><span>{{ cart.total_price | money }}</span>
        </section><!-- .total -->

        <section class="buttons">
          <input type="submit" class="button grey" name="update" value="Update">
          <input type="submit" class="button black" name="checkout" value="Checkout">
        </section><!-- .buttons -->
      </div><!-- .row -->

  </form>

  {% else %}

    <p class="empty">There are no items in your cart.</p>

  {% endif %}

</section><!-- #cart -->
