<div class="row of-three">

  {% for product in collection.products %}

    <div class="span">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | product_img_url: 'large' }}">
        <h3>{{ product.title }}</h3>
      </a>
    </div><!-- .span -->

  {% endfor %}

</div><!-- .row.of-three -->