<section id="carousel">
  <ul class="bxslider">
    <li>
      <a href="{{ settings.homepage-link-1 }}"><img src="{{ 'homepage-slide-1.jpg' | asset_url }}"></a>
    </li>
    <li>
      <a href="{{ settings.homepage-link-2 }}"><img src="{{ 'homepage-slide-2.jpg' | asset_url }}"></a>
    </li>
  </ul>
</section>