<div class="row a">

  <div class="span l">
    <a class="back" href="/collections/all">&lt; Back to Shop</a>
  </div><!-- .l -->

  {% if collection %}
    <div class="span r">
      {% if collection.previous_product or collection.next_product %}
  
        {% if collection.previous_product %}
          {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
          <a class="prev" href="{{ prev_url }}">&lt;</a>
        {% endif %}

        {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          <a class="next" href="{{ next_url }}">&lt;</a>
        {% endif %}

      {% endif %}
    </div><!-- .r -->
  {% endif %}

</div><!-- .row.a -->

<div class="row">
  <section id="carousel">
    <ul class="bxslider">

      {% for image in product.images %}
        <li>
          <img src="{{ image.src | product_img_url: 'original' }}" alt="{{ image.alt }}" />
        </li>          
      {% endfor %}

    </ul>
  </section><!-- #carousel -->
</div><!-- .row -->

<form action="/cart/add" method="post" enctype="multipart/form-data">
  <section class="info">
    <div class="row">
      <h1>{{ product.title }} <span class="price">{{ product.price | money }}</span></h1>
      <p>{{ product.description | strip_html }}</p>
      <section class="inputs">
        
        <div id="product-variants">
            <div id="price-field"></div>
            <select id="product-select" name="id">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
        </div> 

        <input type="submit" name="add" id="add" value="Add to Bag">

      </section><!-- .inputs -->
    </div><!-- .row -->
  </section><!-- .info -->
</form>


{% comment %}
Product Options
{% endcomment %}
<script>
var selectCallback = function( variant, selector ){

  if (variant) {

    // Selected a valid variant that is available.
    if (variant.available) {
      // Enabling add to cart button.
      jQuery('#add').removeClass('disabled').prop('disabled', false);
    } else {
      // Variant is sold out.
      jQuery('#add').addClass('disabled').prop('disabled', true);        
    }
    // Whether the variant is in stock or not, we can update the price and compare at price.
    jQuery('.price').html( Shopify.formatMoney( variant.price, "{{ shop.money_format }}" ) );
      

  } else {
    // variant doesn't exist.
    jQuery('#add').addClass('disabled').prop('disabled', true);
  }

};
  
jQuery( function($) {

  new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback });
  
  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}
  
  // Auto-select first available variant on page load.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}

} );
</script>